[Unit]
Description=Go server

[Service]
WorkingDirectory=/root/projects/src/crypto/worlds/server
ExecStart=/root/projects/src/crypto/worlds/server/server
Restart=always

[Install]
WantedBy=multi-user.target