[Unit]
Description=Parity (Production Chain)

[Service]
WorkingDirectory=/root/parity-config
ExecStart=/usr/local/bin/parity
Restart=always

[Install]
WantedBy=multi-user.target